body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.central-box {
    text-align: center;
    max-width: 600px; 
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
}

.central-box {
    text-align: center;
    margin: auto;
    max-width: 600px;
}

.central-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.panel {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
}

button {
    font-size: 16px;
    margin: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.add {
    font-size: 10px;
    padding: 10px 12px; 
}

button:hover {
    background-color: #0056b3;
}

#game {
    display: none;
    text-align: center;
    padding: 20px;
}

#turnInfo {
    font-size: 18px;
    margin-bottom: 20px;
}

#audioPlayer {
    margin: 20px 0;
}

#guessList {
    list-style: none;
    padding: 0;
}

#nextRoundBtn {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#nextRoundBtn:hover {
    background-color: #218838; 

.game-logo {
    max-width: 30px;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 10px;  
    left: 10px;   
}}